* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
}

button,
input {
  background: none;
  border: none;
}
button:focus, button:active,
input:focus,
input:active {
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

@font-face {
  font-family: "EBG";
  src: url(../fonts/EBGaramond-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "EBG";
  src: url(../fonts/EBGaramond-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "EBG";
  src: url(../fonts/EBGaramond-Bold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: "Itim";
  src: url(../fonts/Itim-Regular.woff2);
  font-weight: 400;
}
header {
  background-color: #DCE4F1;
}
@media (max-width: 1023.98px) {
  header {
    background-color: #BBC5C6;
  }
}
@media (max-width: 767.98px) {
  header {
    background-color: #9C82A5;
  }
}