@import "mixins";
@import "reset";
@import "fonts&variables";

h2 {
  font-family: $font-ebg;
  font-size: 16px;
  color: $color-navy;
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.btn {
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-family: $font-ebg;
  @include flexbox($alignItems: center, $justifyContent: center);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;

  &.primary-btn {
    background-color: $color-navy;
    color: $color-blue;
    transition: all .5s ease-in;

    &:hover {
      background-color: $color-blue;
      color: $color-navy;
      transition: all .5s ease-in;
    }
  }

  &.secondary-btn {
    background-color: $color-blue;
    color: $color-navy;
    border: 1px solid $color-navy;
    transition: all .5s ease-in;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transition: all .5s ease-in;
    }
  }
}

header {
  background-color: $color-blue;
  @include flexbox($justifyContent: space-between, $alignItems: center);
  z-index: 20;

  #logo {
    margin: 10px 0;
  }

  .nav {
    @include flexbox($alignItems: center);
    gap: 30px;

    &-item {
      @include flexbox($alignItems: center, $direction: column, $justifyContent: center);
      gap: 5px;
      opacity: 50%;
      transition: opacity .5s;

      span {
        color: $color-purple;
        font-size: 15px;
        font-family: $font-ebg;
        position: relative;
        display: block;

        &::after {
          position: absolute;
          content: "";
          border-bottom: 1px solid transparent;
          bottom: -5px;
          height: 1px;
          width: 100%;
          left: 0;
          transform: scale(0);
          transition: all .5s linear;

        }
      }

      &:hover {
        opacity: 1;
        transition: opacity .5s;

        span {
          &::after {
            transition: all .5s linear;
            transform: scale(1);
            border-color: $color-purple;

          }
        }
      }

      &.active {
        opacity: 1;
        transition: opacity .5s;

        span {
          &::after {
            transition: all .5s linear;
            transform: scale(1);
            border-color: $color-purple;

          }
        }
      }
    }
  }

  #logoMobile {
    display: none;
  }

  @include media-down (m) {
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.1) -2px -7px 12px;

    #logo {
      display: none;
    }

    .nav {
      justify-content: space-between;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;

      &-item {
        span {
          display: none;
        }

        &:hover {
          opacity: 50%;
        }
      }
    }

    #logoMobile {
      display: block;
      border-radius: 50%;
      border: 2px solid $color-purple;
      width: 60px;
      height: 60px;
      @include flexbox($justifyContent: center, $alignItems: center);

      img {
        filter: brightness(0) saturate(100%) invert(32%) sepia(10%) saturate(1798%) hue-rotate(226deg) brightness(99%) contrast(86%);
      }
    }
  }



}

.main-padding {
  padding: 0 60px;

  @include media-down(l) {
    padding: 0 30px;
  }

  @include media-down(s) {
    padding: 0 16px;
  }
}

.page-section {
  display: none;

  &.js-page-section {
    display: block;
  }

}

.hero-shot {
  background-color: $color-blue;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  .hero-top {
    display: flex;
    margin-bottom: 10px;

    p {
      font-family: $font-ebg;
      font-size: 15px;
      color: $color-navy;
      font-weight: 400;
    }
  }

  .profile {
    @include flexbox($alignItems: center);
    gap: 30px;

    &-right {
      span {
        font-size: 24px;
        font-family: $font-ebg;
        color: $color-navy;
      }

      p {
        font-size: 16px;
        font-family: $font-ebg;
        color: $color-navy;
      }
    }
  }

  form {
    @include flexbox($alignItems:center);
    border-radius: 20px;
    background: #BBC5C68C;
    gap: 10px;
    max-height: 50px;
    padding: 10px 15px;
    flex-grow: 1;

    input {
      flex-grow: 1;
      font-size: 16px;
      color: $color-navy;
      padding: 5px 10px;

      &::placeholder {
        font-size: 16px;
        color: $color-navy;
        opacity: .75;
      }
    }
  }

  @include media-down(m) {
    padding-top: 30px;
    padding-bottom: 30px;

    .profile {
      flex-wrap: wrap;
    }
  }
}

#home {
  background: linear-gradient(359.98deg, #BBC5C6 0.01%, #DCE4F1 99.99%);
  padding-bottom: 80px;


  .state-of-mind {
    padding-top: 30px;

    h2 {
      width: fit-content;
      margin: 30px auto;
    }

    &-container {
      padding: 15px;
      display: flex;
      gap: 30px;
      overflow-x: auto;
      justify-content: center;

      &::-webkit-scrollbar {
        appearance: none;
      }


    }

    &-card {
      background-color: $color-blue;
      border-radius: 10px;
      @include flexbox($direction: column, $justifyContent: space-between, $alignItems: center);
      padding: 15px;
      gap: 15px;


      span {
        font-size: 14px;
        font-family: $font-ebg;
        color: $color-navy;
        text-transform: capitalize;
        white-space: nowrap;
      }
    }
  }

  .wellness-overview {
    padding-top: 30px;

    h2 {
      margin: 30px auto;
      width: fit-content;
    }

    &-container {
      @include flexbox($direction:column, $justifyContent:center, $alignItems:center);
      gap: 15px;
      padding: 15px 0;
    }

    &-card {
      background-color: $color-blue;
      padding: 10px;
      position: relative;
      display: flex;
      gap: 5px;
      flex-direction: column;
      width: 60%;
      align-items: flex-start;
      justify-content: center;
      border-radius: 10px;

      span {
        font-family: $font-ebg;
        font-size: 14px;
        font-weight: 500;
        color: $color-navy;
        z-index: 2;
        display: block;
      }

      p {
        font-family: $font-ebg;
        font-size: 14px;
        font-weight: 400;
        color: $color-navy;
        z-index: 2;
        display: block;
      }

      img {
        position: absolute;
        right: 10px;
        z-index: 1;
      }
    }
  }

  .daily-thought {
    background-color: $color-blue;
    padding: 30px 0;
    margin-top: 30px;

    &-container {
      max-width: 60%;
      @include flexbox($direction:column, $alignItems: center);
      gap: 30px;
      margin: 0 auto;

      span {
        font-size: 15px;
        color: $color-navy;
        font-family: $font-ebg;
        opacity: .65;
      }

      p {
        font-size: 15px;
        color: $color-navy;
        font-family: $font-ebg;
        font-style: italic;
        font-weight: 500;
      }
    }

    &-icons {
      @include flexbox($alignItems: center, $justifyContent:center);
      gap: 15px;
    }
  }

  .reconnect {
    margin-top: 30px;
    @include flexbox($justifyContent: center, $alignItems: center);

    &-container {
      background-color: $color-blue;
      border-radius: 20px;
      @include flexbox($direction: column, $justifyContent: center);
      gap: 15px;
      position: relative;
      width: 100%;
      padding-top: 30px;
      padding-bottom: 30px;

      img {
        position: absolute;
        right: 10px;
        z-index: 1;
      }

      span {
        font-family: $font-ebg;
        color: $color-navy;
        font-size: 15px;
        font-weight: 500;
        z-index: 2;
      }

      p {
        font-family: $font-ebg;
        color: $color-navy;
        font-size: 15px;
        opacity: .65;
        z-index: 2;
      }
    }
  }

  .yoga-session {
    position: fixed;
    width: 100vw;
    height: 100vh;
    @include flexbox($alignItems: center, $justifyContent: center);
    background-color: $color-blue;
    z-index: 25;
    display: none;
    top: 0;
    left: 0;

    &.js-yoga-session {
      display: flex;
    }
  }


  @include media-down(m) {

    .state-of-mind {
      &-container {
        justify-content: flex-start;
      }
    }

    .wellness-overview {
      &-card {
        width: 100%;
      }
    }

    .daily-thought {
      padding: 15px 0;

      &-container {
        max-width: 100%;
      }
    }
  }
}

#activities {
  background: linear-gradient(359.98deg, #BBC5C6 0.01%, #DCE4F1 99.99%);

  .activites-container {
    margin-top: 30px;
    padding-bottom: 60px;
  }

  .activites-suggestions {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .activites-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 20px;
      background-color: $color-blue;
      padding: 15px;

      .activites-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-grow: 1;

        .activites-img {
          display: flex;

          span {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $color-green;
            @include flexbox($alignItems: center, $justifyContent: center);
            border: 2px solid $color-blue;
            opacity: 1;

            &:not(:first-of-type) {
              margin-left: -5px;
            }

          }
        }

        h3 {
          font-family: $font-ebg;
          font-weight: 500;
          font-size: 16px;
          color: $color-purple;
          text-transform: capitalize;
        }

        span {
          font-size: 15px;
          font-weight: 400;
          font-family: $font-ebg;
          color: $color-purple;
          opacity: 65%;


        }
      }
    }
  }
}

#statistics {
  background: linear-gradient(359.98deg, #BBC5C6 0.01%, #DCE4F1 99.99%);
  min-height: 100dvh;
  padding-bottom: 30px;

  .statistics-quote {
    font-family: $font-ebg;
    margin-bottom: 30px;
    color: $color-purple;
    font-size: 16px;
    display: block;
  }

  h2 {
    margin-bottom: 15px;
    margin-top: 30px;
  }

  .stats-grid {
    @include flexbox($direction: column);
    gap: 15px;

    .stat-card {
      background-color: $color-blue;
      padding: 15px;
      border-radius: 15px;
      @include flexbox($alignItems: center);
      gap: 10px;

      span {
        color: $color-purple;
        font-size: 16px;
        font-family: $font-ebg;
      }

      .stat-value {
        padding: 5px;
        background-color: $color-green;
        border-radius: 5px;
      }

      .stat-label {
        font-weight: 500;
      }

    }
  }
}

#profile {
  background: linear-gradient(359.98deg, #BBC5C6 0.01%, #DCE4F1 99.99%);
  min-height: 100dvh;

  .journal {
    margin-top: 30px;
    position: relative;

    h2 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 30px;
      font-family: $font-ebg;
      font-size: 16px;
      color: $color-purple;
    }

    h3 {
      font-family: $font-ebg;
      font-size: 18px;
      color: $color-navy;
      margin-bottom: 15px;
      font-weight: 600;
    }

    h4 {
      font-family: $font-ebg;
      font-size: 16px;
      color: $color-navy;
      font-weight: 600;
    }

    &-header {
      display: flex;
      align-items: center;
      gap: 30px;
      flex-wrap: wrap;
    }

    &-editor {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      width: 100%;
      background-color: $color-blue;
      height: 100dvh;
      left: 0;
      padding-top: 30px;
      gap: 30px;
      transform: translateX(-100%);
      transition: transform .5s ease-in;

      .close-journal {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
        margin-right: 15px;

        span {
          position: relative;
          height: 30px;
          display: block;
          width: 30px;
          cursor: pointer;

          &:after {
            content: "";
            width: 30px;
            height: 3px;
            background-color: $color-purple;
            position: absolute;
            transform: rotate(-45deg);
            top: 15px;
          }

          &:before {
            content: "";
            top: 15px;
            width: 30px;
            height: 3px;
            background-color: $color-purple;
            position: absolute;
            transform: rotate(45deg);
          }
        }

      }

      #journalTitle {
        color: $color-navy;
        font-size: 16px;
        font-family: $font-ebg;
        font-weight: 500;

        &::placeholder {
          color: $color-purple;
          opacity: .75;
        }
      }

      #journalContent {
        padding: 10px;
        color: $color-navy;
        background-color: $color-blue;
        border: none;
        min-height: 60dvh;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        &:focus-visible {
          outline: none;
        }
      }
    }

    .js-editor {
      transform: translateX(0);
      transition: transform .5s ease-in;
      overflow-y: auto;
    }
  }
}

#refreshImg {
  cursor: pointer;
}

//Carousel
.carousel {
  display: flex;
  align-items: center;


  &-viewport {
    overflow: hidden;
    width: 100%;
  }

  .journal-list {
    display: flex;
    transition: transform .4s ease;
    gap: 10px;
  }

  .journal-card {
    flex: 0 0 auto;
    padding: 20px;
    background-color: $color-blue;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;

    span {
      font-family: $font-ebg;
      color: $color-navy;
    }

    .journal-actions {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
    }
  }

  .prev {
    transform: rotate(180deg);
  }

  .prev,
  .next {
    cursor: pointer;
  }

  @include media-down(m) {
    .journal-card {
      width: 50%;
    }
  }

  @include media-down(s) {
    .journal-card {
      width: 100%;
    }
  }
}

.js-fixed {
  overflow: hidden;
}